form{
    display: flex;
    top:90vh;
    position:absolute;
    
    justify-content: center;
    align-items: center;
}

#message-container{
    position:relative;
    border:1px solid black;
    height:80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
body{
    background-color: antiquewhite;
}
.btn.btn-success{
    font-family: 'Jura';
}
#message-input{
    font-family: 'Jura';
}
#clock{
    font-family: 'Jura';
    font-weight: 900;
}
h1{
    font-family: 'Jura';
}